@import url(./fonts/style.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PF Handbook Pro Regular";
}

li,
a {
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-family: "PF Handbook Pro Regular";
}

.topheader {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0 10px;
}

.topheader .nav_links {
  background-color: #c7222a;
  font: normal normal bold 18px/25px PF Handbook Pro;
}
.topheader .nav_links .active {
  background-color: #7f2221;
  font-family: "PF Handbook Pro Regular";
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #c7222a;
  align-items: center;
  padding: 18px;
  margin: 0 10px 0 10px;
}

.logo {
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.nav_links li a:hover {
  color: #ffffff;
  text-decoration: none;
}
/* arrow */
.dropbtn .arrow {
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 4px;
  margin-bottom: 4px;
}
.dropbtn .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropbtn:hover .arrow {
  border: solid #c8142a;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 4px;
}
.dropbtn:hover .down {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
/* dropdown navigation */
.dropbtn {
  color: white;
  padding: 10px;
  font-size: 14px;
  border: none;
}
.dropdown .dropbtn:hover {
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 14px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  margin-top: 9px;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ddd;
}
.dropdown .dropdown-content:hover {
  animation: fade 1s ease 2s forwards;
}

/* dropdown navigation end */

.btntop {
  background: #f7a600 0% 0% no-repeat padding-box;
  border-radius: 5px;
  padding: 1px 4px 1px 4px;
  text-decoration: none;
  color: black;
}

.bar {
  display: flex;
  justify-content: space-between;
  background: #99a26f;
  padding: 7px;
  margin: 0 10px 0 10px;
}
.bar h6 {
  color: #ffffff;
  font-size: 16px;
  font-family: "PF Handbook Pro Bold";
}

.bar2 h6 {
  background: #c7222a;

  font-size: 16px;
  font-family: "PF Handbook Pro Bold";
  letter-spacing: 0px;
  color: #ffffff;
  padding: 8px;
  margin: 0 10px 0 10px;
}

@media all and (max-width: 1100px) {
  .bar2 h6 {
    background: #c7222a;
    font-size: 16px;
    font-family: "PF Handbook Pro Bold";
    letter-spacing: 0px;
    color: #ffffff;
    padding: 8px;
    margin: 0;
    border-top: 1px solid #dbdbdb;
  }
}

/* mobile menu css */
@media all and (max-width: 1100px) {
  .topheader {
    display: none;
  }
  header {
    display: none;
  }
  .bar {
    display: none;
  }
}
@media all and (min-width: 1101px) {
  .mobile-menu {
    display: none;
  }
  .mobile-box {
    display: none;
  }
}

@media all and (max-width: 1100px) {
  .mobile-menu {
    display: flex;
    justify-content: space-between;
    background-color: #c7222a;
    align-items: center;
    padding: 20px;
  }
  .mobile-menu .menu-image img {
    width: 60%;
  }
  .burger-icon {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
  }
  .burger-icon .human img {
    width: 30px;
  }
  .burger-icon .burger img {
    width: 40px;
  }
  /* box on click hamburger */
  .mobile-box {
    position: absolute;
    display: none;
    top: 0;
    height: 100%;
  }
  .mobile-box-inner {
    display: flex;
    justify-content: space-between;
    background-color: #c7222a;
    align-items: center;
    padding: 20px;
  }

  .mobile-box-inner .mobile-box-image img {
    width: 53%;
  }
  .mobile-box-inner .burger-cross img {
    width: 30px;
  }

  .topbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: px 0 px 0;
    background-color: #c7222a;
  }
  .drop1-mob .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    padding: 20px 20px;
    background-color: inherit;
    font: inherit;
    margin: 0;
  }

  .drop1-mob:hover .dropbtn {
    background-color: #7f2221;
  }
  a.dropbtn.active {
    background: #c7222a;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    margin-top: 20px;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    float: right;
  }

  .dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
  }

  .drop1-mob .active {
    display: block;
  }

  .drop1-mob:hover .dropdown-content {
    display: block;
  }
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    height: auto;
  }

  .column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .column a:hover {
    background-color: #ddd;
  }

  .drop1-mob .dropdown-content .column .h31 {
    font-size: 24px;
    padding: 0 0 0 10px;
    line-height: inherit;
    text-transform: uppercase;
    color: #da9089 !important;
  }
  .drop1-mob .dropdown-content .column .h32 {
    font-size: 24px;
    padding: 0 0 0 10px;
    line-height: inherit;
    text-transform: uppercase;
    color: #969f6e !important;
  }
  .drop1-mob .dropdown-content .column .h33 {
    font-size: 24px;
    padding: 0 0 0 10px;
    line-height: inherit;
    text-transform: uppercase;
    color: #d4ae69 !important;
  }
  .drop1-mob .dropdown-content .column .h34 {
    font-size: 24px;
    padding: 0 0 0 10px;
    line-height: inherit;
    text-transform: uppercase;
    color: #c7222a !important;
  }

  .drop1-mob .dropdown-content .column1 {
    border-left: 7px solid #da9089;
    margin: 0 0 20px 0;
  }
  .drop1-mob .dropdown-content .column2 {
    border-left: 7px solid #969f6e !important;
    margin: 0 0 20px 0;
  }
  .drop1-mob .dropdown-content .column3 {
    border-left: 7px solid #d4ae69 !important;
    margin: 0 0 20px 0;
  }
  .drop1-mob .dropdown-content .column4 {
    border-left: 7px solid #c7222a !important;
    margin: 0 0 20px 0;
  }
  .drop1-mob .dropdown-content .column5 {
    border-top: 1px solid #ddd;
    margin: 10px 0 20px 0;
    padding: 20px;
  }
  .drop1-mob .dropdown-content .column6 {
    border-top: 1px solid #ddd;
    margin: 10px 0 20px 0;
    padding: 20px;
  }

  .mob-menu-links {
    display: flex;
    justify-content: flex-start;
    gap: 4em;
  }
}
/* first banner css starts here */
#banner-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  #banner-top {
    display: flex;
    flex-direction: column-reverse;
  }
}

.banner-text h1 {
  font-size: 70px;
  font-family: "PF Handbook Pro Bold";
  letter-spacing: 0px;
}
.banner-text h1 span {
  font-size: 70px;
  font-family: "PF Handbook Pro Bold";
  letter-spacing: 0px;
  color: #bb0021;
}
@media only screen and (max-width: 600px) {
  .banner-text h1 {
    font-size: 60px;
    font-family: "PF Handbook Pro Bold";
    letter-spacing: 0px;
  }
  .banner-text h1 span {
    font-size: 60px;
    font-family: "PF Handbook Pro Bold";
    letter-spacing: 0px;
    color: #bb0021;
  }
}

.banner-text p {
  font-size: 30px;
  font-family: "PF Handbook Pro Regular";
  letter-spacing: 0px;
  color: #333333;
}

.banner-btns {
  margin-top: 18px;
}

.banner-btns .a1 {
  font-size: 14px;
  font-family: "PF Handbook Pro Thin";
  letter-spacing: 0px;
  color: #fafafa;
  padding: 8px 16px 8px 16px;
  background: transparent linear-gradient(249deg, #99a26f 0%, #44583f 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 7px 9px #00000029;
  /* border: 2px solid #44583f; */
  border-radius: 4px;
  opacity: 1;
  text-decoration: none;
  margin-right: 10px;
}

.banner-btns .a1 span {
  font-size: 12px;
  font-family: "PF Handbook Pro Regular";
  padding: 2px;
  background-color: white;
  margin-left: 10px;
  color: #44583f;
  border-radius: 2px;
}

.banner-btns .a2 {
  font-size: 12px;
  font-family: "PF Handbook Pro Bold";
  letter-spacing: 0px;
  color: #44583f;
  padding: 8px 16px 8px 16px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #44583f;
  border-radius: 4px;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .banner-video img {
    width: 100%;
  }
  .banner-text {
    padding: 20px;
  }
}

/* second banner starts here */
#image-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #fffdf8;
  padding: 40px 0 80px 0;
}

.image-image img {
  height: 260px;
  width: 415px;
  z-index: 99;
}
@media only screen and (max-width: 600px) {
  #image-text {
    display: flex;
    flex-direction: column;
    padding: 40px 0 20px 0;
  }
  .image-image img {
    height: 260px;
    width: 100%;
    z-index: 99;
    padding: 20px;
  }
  .text-text {
    padding: 20px;
  }
}

.text-text h2 {
  font-size: 35px;
  font-family: "PF Handbook Pro Bold";
  letter-spacing: 0px;
  color: #221f20;
}

.text-text p {
  font-size: 20px;
  font-family: "PF Handbook Pro Thin";
  margin-top: 10px;
  letter-spacing: 0px;
  color: #76787b;
}

.text-text span {
  padding: 3px 25px 3px 25px;
  margin: 10px 0 10px 0;
  background: #c91429 0% 0% no-repeat padding-box;
  border-radius: 3px;
  display: inline-block;

  opacity: 1;
}

/*  main banner with boxes */
#main-banner {
  background: url(./images/Rectangle\ 370.jpg);
  background-repeat: no-repeat;
  /* background-position: center right; */
  background-size: cover;
  padding: 80px 0 80px 0;
  align-items: center;
  margin: 10px 10px 0 10px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  #main-banner {
    background: url(images/mobilwwe.jpg) !important;
    background-repeat: no-repeat;
    /* background-position: center right; */
    background-size: cover;
    padding: 80px 0 80px 0;
    align-items: center;
    margin: 0px;
    background-size: cover !important;
  }
}

.main-banner-text-space {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 600px) {
  .main-banner-text-space {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

#main-banner .text-text h2 {
  font-size: 35px;
  font-family: "PF Handbook Pro Bold";
  letter-spacing: 0px;
  color: #ffffff;
}

#main-banner .text-text p {
  font-size: 17px;
  font-family: "PF Handbook Pro Thin";
  margin-top: 10px;
  letter-spacing: 0px;
  color: #ffffff;
}

#main-banner.text-text span {
  padding: 3px 25px 3px 25px;
  margin: 10px 0 10px 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 3px;
  display: inline-block;
  opacity: 1;
}

.main-banner-sub {
  display: flex;
  justify-content: center;
  margin: 40px 0 40px 0;
  align-items: center;
  gap: 4em;
}
@media only screen and (max-width: 600px) {
  .main-banner-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0 40px 0;
    align-items: center;
    gap: 4em;
  }
}

.main-banner-sub .main-col {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 30px #0000000d;
  border-radius: 8px;
  height: 110px;
  width: 260px;
  padding: 20px 0 20px 20px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-banner-sub .main-col {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 30px #0000000d;
    border-radius: 8px;
    height: auto;
    width: 87%;
    padding: 20px 0 1px 20px;
    margin-bottom: -28px;
  }
}

.main-banner-sub .main-col img {
  margin-top: -50px;
  height: 70px;
  width: 70px;
}

.main-banner-sub .main-col h6 {
  font-size: 19px;
  margin-top: -12px;
  font-family: "PF Handbook Pro Bold";
  letter-spacing: 0px;
  color: #000000;
}

.main-banner-sub .main-col p {
  font-size: 16px;
  font-family: "PF Handbook Pro Thin";
  letter-spacing: 0px;
  color: #76787b;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-col p {
    line-height: 20px;
    margin-bottom: 10px;
  }
}
/* nps image calculator */

.nps {
  background: url(./images/Mask\ Group\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  padding: 40px 0px 40px 0px;
}

.nps-box {
  display: flex;
  justify-content: center;
  gap: 4em;
  background: url(./images/Mask\ Group\ 3.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px 0 20px 0;
  padding: 20px;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .nps-box {
    display: flex;
    justify-content: center;
    gap: 2em;
    background: url(./images/Mask\ Group\ 3.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px 10px 20px 10px;
    padding: 20px;
    align-items: center;
  }
}

.nps-box .nps-text h2 {
  font-size: 35px;
  font-family: "PF Handbook Pro Bold";
  letter-spacing: 0px;
  color: #000000;
}
.nps-box .nps-text .sp {
  padding: 3px 25px 3px 25px;
  margin: 10px 0 10px 0;
  background: #c91429 0% 0% no-repeat padding-box;
  border-radius: 3px;
  display: inline-block;

  opacity: 1;
}

.nps-box .nps-text p {
  font-size: 17px;
  font-family: "PF Handbook Pro Thin";
  margin-top: 10px;
  margin-bottom: 15px;
  letter-spacing: 0px;

  color: #76787b;
  letter-spacing: 0px;
}

.nps-box .nps-text a {
  background: #c91429 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #c8142a;
  color: #ffffff;
  border-radius: 4px;
  font-size: 12px;
  padding: 8px 20px 8px 20px;
  font-family: "PF Handbook Pro Regular";
}

.nps-box .nps-text i {
  margin-left: 10px;
}
@media only screen and (max-width: 600px) {
  .nps .nps-image img {
    width: 200px;
    margin-left: -50px;
  }
  .nps-box .nps-text h2 {
    font-size: 17px;
    font-family: "PF Handbook Pro Bold";
    letter-spacing: 0px;
    color: #000000;
  }
  .nps-box .nps-text p {
    font-size: 12px;
    font-family: "PF Handbook Pro Thin";

    letter-spacing: 0px;

    color: #76787b;
    letter-spacing: 0px;
  }
}

/* main banner 2 bhawan sharma */
#main-banner2 {
  background: url(./images/Group\ 1567.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 40px 0;
  align-items: center;
  margin: 10px 10px 0 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  #main-banner2 {
    background: url(images/dgdgsd4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 0 40px 0;
    align-items: center;
    margin: 0px;
  }
}

.main-banner-text-space2 {
  display: flex;
  justify-content: space-around;
  padding: 0 20px 0 20px;
}

#main-banner2 .text-text2 h2 {
  font-size: 35px;
  font-family: "PF Handbook Pro Bold";
  letter-spacing: 0px;
  color: #ffffff;
}

#main-banner2 .text-text2 p {
  font-size: 17px;
  font-family: "PF Handbook Pro Thin";
  margin-top: 10px;
  letter-spacing: 0px;
  color: #ffffff;
}

#main-banner2 .text-text2 span {
  padding: 3px 25px 3px 25px;
  margin: 10px 0 10px 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 3px;
  display: inline-block;
  opacity: 1;
}
.main-banner-sub2 {
  width: 78%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.main-banner-sub2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  align-items: center;
  gap: 3em;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-banner-sub2 {
    padding: 0px;
    display: inline-block;
    width: 100%;
    /* margin-left: auto; */
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main-banner-sub2 .main-col2 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 30px #0000000d;
  border-radius: 8px;
  height: 100px;
  width: 270px;
  padding: 20px 6px 20px 10px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-banner-sub2 .main-col2 {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 30px #0000000d;
    border-radius: 8px;
    height: auto;
    width: 47%;
    padding: 12px 6px 10px 8px;
    display: inherit;
    align-items: center;
    float: left;
    height: 151px;
    margin-bottom: 18px;
    margin-left: 10px;
  }
}

.main-banner-sub2 .main-col2 img {
  height: 65px;
  width: 65px;
}

.main-banner-sub2 .main-col2 p {
  font-size: 17px;
  font-family: "PF Handbook Pro Thin";
  letter-spacing: 0px;
  color: #76787b;
}
/* abs boxess main */
.abs-boxes .main-col3 h6 {
  font-size: 19px;

  font-family: "PF Handbook Pro Bold";
  letter-spacing: 0px;
  color: #000000;
}
.abs-boxes {
  display: flex;
  justify-content: center;
  gap: 4em;
  margin-top: 40px;
}
@media only screen and (max-width: 600px) {
  .abs-boxes {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    gap: 2em;
    margin-top: 40px;
    flex-wrap: wrap;
  }
}

.abs-boxes .main-col3 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 30px #0000000d;
  border-radius: 8px;
  text-align: center;
  padding: 24px;
}

.abs-boxes .main-col3 p {
  font-size: 17px;
  font-family: "PF Handbook Pro Thin";
  letter-spacing: 0px;
  color: #76787b;
}
.abs-main {
  padding: 60px 0 80px 0;
  background: transparent linear-gradient(180deg, #f8f8f8 0%, #ffffff00 100%) 0%
    0% no-repeat padding-box;
}
.abs-heading {
  text-align: center;
}
.abs-heading h2 {
  font-size: 35px;
  font-family: "PF Handbook Pro Bold";
  letter-spacing: 0px;
  color: #000000;
}

.abs-heading p {
  font-size: 17px;
  font-family: "PF Handbook Pro Thin";
  margin-top: 10px;
  letter-spacing: 0px;
  color: #333333;
  padding: 0 40px 0 40px;
}

.abs-heading span {
  padding: 3px 25px 3px 25px;
  margin: 10px 0 10px 0;
  background: #bb0021 0% 0% no-repeat padding-box;
  border-radius: 3px;
  display: inline-block;
  opacity: 1;
}

.abs-boxes .main-col3 img {
  height: 65px;
  width: 65px;
  margin-top: -50px;
}

/* testimonials css */
.testm {
  text-align: center;
  padding: 40px 0 80px 0;
}
.testm-text h2 {
  font-size: 35px;
  font-family: "PF Handbook Pro Bold";
  letter-spacing: 0px;
  color: #000000;
}

.testm-text span {
  padding: 3px 25px 3px 25px;
  margin: 10px 0 10px 0;
  background: #bb0021 0% 0% no-repeat padding-box;
  border-radius: 3px;
  display: inline-block;
  opacity: 1;
}

.testm-boxes {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2em;
  margin-top: 40px;

  overflow-x: scroll;

  animation: slideshow 10s linear infinite;
}
@keyframes slideshow {
  100% {
    transform: translateX(-33.33%);
  }
}
.testm-boxes::-webkit-scrollbar {
  display: none;
}

.testm-boxes .main-col-4 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 30px #0000000d;
  padding: 20px 40px 20px 40px;
  border-radius: 8px;
}

.main-col-4 {
  flex: 0 0 auto;
}
.main-col-4 .testm-text-star h6 {
  font-size: 19px;

  font-family: "PF Handbook Pro Bold";
  letter-spacing: 0px;
  color: #000000;
}

.main-col-4 .testm-p p {
  font-size: 17px;
  font-family: "PF Handbook Pro Thin";
  letter-spacing: 0px;
  color: #76787b;
}

.main-col-4 {
  display: flex;
  justify-content: center;
  gap: 4em;
  align-items: center;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;

  background-color: #76787b;
  padding: 40px 40px 40px 40px;
}
@media only screen and (max-width: 600px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}
.ul-footer {
  list-style: none;
  line-height: 2rem;
  margin-top: 5px;
}

.ul-footer a {
  text-decoration: none;
  font-size: 17px;
  font-family: "PF Handbook Pro Thin";
  letter-spacing: 0px;
  color: #ffffff;
}

.copy-text p {
  font-size: 17px;
  font-family: "PF Handbook Pro Thin";
  letter-spacing: 0px;
  color: #ffffff;
}
.copy-phone p {
  font-size: 17px;
  font-family: "PF Handbook Pro Thin";
  letter-spacing: 0px;
  color: #ffffff;
}

.footer-part-1 h6,
.footer-part-2 h6,
.footer-part-3 h6,
.footer-part-4 h6,
.footer-part-5 h6,
.footer-part-6 h6,
.footer-part-7 h6 {
  font-size: 16px;

  font-family: "PF Handbook Pro Bold";
  letter-spacing: 0px;
  color: #ffffff;
}

/* footer 2 */
.footer2 {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;

  background-color: #58595b;
  padding: 40px 40px 40px 40px;
}
@media only screen and (max-width: 600px) {
  .footer2 {
    display: flex;
    flex-direction: column;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  gap: 30em;
  background-color: #58595b;
  padding: 20px 40px 20px 40px;
  border-top: 1px solid #e2e2e2;
}
@media only screen and (max-width: 600px) {
  .copyright {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}
.copy-social-text {
  display: flex;
  justify-content: center;
}

.copy-social-ul {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-left: 25px;
  align-items: center;
  list-style-type: none;
}

.copy-text p {
  color: #ffffff;
}

.copy-phone p {
  color: #ffffff;
}
